@use "_properties/_resets" as *;

@import "_properties/colors";
@import "_properties/fonts";

body {
    font-size: $parrent-fontsize;
    font-family: $font-primary;
    font-style: $fontstyle-primary;
    color: $clr-font-primary;

    background-color: $clr-bg;
}

h1 {
    font-size: 2rem;
}

h2 {

}

p {

}

.site-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonials {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, 1fr);
    gap: calc($parrent-fontsize * 2);

    .block { border-radius: 10px; }

    #number-1 { background-color:$clr-primary-violet; }
    #number-2 { background-color:$clr-primary-gray; }
    #number-3 { background-color: $clr-primary-white;}
    #number-4 { background-color: $clr-primary-dark; }
    #number-5 { background-color: $clr-primary-white; }
}

