// Accent colors
$clr-primary-violet:  hsl(263, 55%, 52%);
$clr-primary-gray: hsl(217, 19%, 35%);
$clr-primary-dark : hsl(219, 29%, 14%);
$clr-primary-white:hsl(0, 0%, 100%);

// Bg color
$clr-bg:  hsl(210, 46%, 95%);

// Font color
$clr-font-primary: hsl(0, 0%, 81%);


// Fonts
$parrent-fontsize: 13;
$font-primary: "Barlow Semi Condensed", sans-serif;
$fontstyle-primary: normal;